<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <form method="POST" action="/new_user"> 
            <h4>Registration</h4>
                <div>
                <label>First Name</label><br>
                    <input type="text" name="txt-firstname" placeholder="Enter your Name" size="25">
                </div>
                <div>
                <label>Last Name</label><br>
                    <input type="text" name="txt-lastname" placeholder="Enter your Last Name" size="25">
                </div>
                <div>
                <label>Email</label><br>
                    <input type="text" name="txt-email" placeholder="Enter your Email" size="25">
                </div>
                    <input type="submit" value="Add User">
        </form>
        {% with messages = get_flashed_messages() %}<!-- declare a variable called messages -->
            {% if messages %}<!-- check if there are any messages -->
                {% for message in messages %}<!-- loop through the messages -->
                    <p>{{message}}</p><!-- display each message in a paragraph tag -->
                {% endfor %}
            {% endif %}
        {% endwith %}

</body>
</html>