<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body>
        <form method="POST" action="/update_user"> 
            <h4>Update User</h4>
                <div>
                <label>First Name</label><br>
                    <input type="text" name="txt-firstname" placeholder="Enter your Name" size="25" value="{{all_users.first_name}}">
                </div>
                <div>
                <label>Last Name</label><br>
                    <input type="text" name="txt-lastname" placeholder="Enter your Last Name" size="25" value="{{all_users.last_name}}">
                </div>
                <div>
                <label>Email</label><br>
                    <input type="text" name="txt-email" placeholder="Enter your Email" size="25" value="{{all_users.email}}">
                </div>
                    <input type="submit" value="Edit User">
        </form>
    
</body>
</html>